<!DOCTYPE html>
<html> 
    <!-- Nav As a link -->
   <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        
      </div>
    </nav>  <!-- Body content -->

    <div class = "container mt-4">
      <div class ="col-md-2"> 
        <div class ="row"> FilterBy: </div>
      </div>

    </div>
</html>


